/* Set the background color and text color for the entire webpage */
body {
  background: #000000; /* Dark Black */
  color: #FFFFFF; /* White text color */
}

/* Rest of your existing CSS for .navbar goes here */

.navbar {
  display: flex;
  justify-content: center;
}

.button-51 {
  background: linear-gradient(to right,#EA3A0D,#ff4e02, #ff7654); /* Fluorescent Green gradient */
  border: 1px solid #960921;
  box-sizing: border-box;
  color: #FFFFFF; /* White text color */
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px; /* Light Green padding */
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  transition: background 0.3s ease; /* Smooth transition for background */
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  cursor: pointer;
}

.button-51:before {
  background-color: #f8a571;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #f94b20dd;
}

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  width: 100px; /* Increase the size */
  height: 100px; /* Increase the size */
  border-radius: 50%; /* Circular shape */
  outline: 0;
  border: none; /* Remove the border */
  cursor: pointer;
  position: relative;
  background: linear-gradient(to right, #FFA500, #FF4500); /* Initial gradient Fluorescent Orange */
  box-shadow: 0px 5px 5px rgba(255, 69, 0, 0.3); /* Semi-circle outer shadow */
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  color: #FFFFFF; /* White text color */
  animation: colorTransition 10s linear infinite; /* Continuous smooth transition */
}

@keyframes colorTransition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Additional CSS for other elements if needed */